body,
html {
  height: 100vh;
  font-family: 'Nanum Gothic', sans-serif;
  background: URL(difference.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  font-size: 3em;
  color: ghostwhite;
  text-align: center;
  text-transform: uppercase;
}


.btn {
  text-transform: uppercase;
}

.btn-secondary {
  background-color: #FEF260;
  border-color: #FEF260;
  border-radius: 40px;
}

.btn-secondary:hover {
  background-color: #FFE550;
  border-color: #FFE550;
  transform: scale(1.05);
  

}
